<header class="navigation">
	<h1>YouTube API How-To Guide</h1>
	<ul id="navigation_links">
		<li><a href="/how-to">Home</a></li>
		<li><a href="/common-issues">API Issues</a></li>
		<li><a href="/embed-player">Embed a YouTube</a></li>
		<li><a href="/playback">Playback Functions</a></li>
		<li><a href="/queuing">Queuing Functions</a></li>
	</ul>
</header>