.pink_background {
    background-color: pink;
	padding: 10px 20px 10px 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.inner_content {
	background-color: #00FFFF;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
}

table {
    border-style: ridge;
}

th, td {
    border-style: ridge;
}

.green {
	background-color: #00FF00;
}

.blue {
	background-color: #00FFFF;
}

.red_text {
	color: red;
}

.blue_text {
	color: blue;
}