<header class="navigation">
	<h1>YouTube API How-To Guide</h1>
	<ul id="navigation_links">
		<li><a href="/how-to">Home</a></li>
		<li><a href="/common-issues">API Issues</a></li>
		<li><a href="/embed-player">Embed a YouTube</a></li>
		<li><a href="/playback">Playback Functions</a></li>
		<li><a href="/queuing">Queuing Functions</a></li>
	</ul>
</header>

<div class="jumbotron">
  <div class="container">
    <h1>
      Welcome!
    </h1>
    <p>
      This site is dedicated to teach you the basics of how to embed videos into your website by using
      YouTube's API
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 style="text-align: center">
      Why The YouTube API?
    </h3>
    <p>
      To put it simply the YouTube <a href="https://developers.google.com/youtube/">API</a> grants users quick
      access to watch, find, and manage YouTube content.
    </p>
  </div>

  <div class="col-md-4">
    <h3 style="text-align: center">
      What We Will Learn
    </h3>
    <ul>
      <li>
	    Common API Issues
      </li>
      <li>
	    How to embed a YouTube Video
      </li>
      <li>
		How to Playback Videos
      </li>
      <li>
		How to use the Queuing Function
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <h3 style="text-align: center">
      Table of Contents
    </h3>
    <li><a href="/common-issues">API Issues</a></li>
	<li><a href="/embed-player">Embed a YouTube</a></li>
	<li><a href="/playback">Playback Functions</a></li>
	<li><a href="/queuing">Queuing Functions</a></li>	
  </div>

</div>

<footer class="foot">
	@Sergio Pedroza<br>
  	Documentation produced by YouTube can be found at
	<a href="https://developers.google.com/youtube/">https://developers.google.com/youtube/</a>
</footer>